/**
 * Set up here the general appearance of the theme.
 * Note: If you wish to change the SVG colors, go to _config.yml
 */

// Colors
themeColor  = #f9ed69
primaryDark = #6a2c70
accentDark  = #f9ed69
lightGray   = #f2f2f2
texts       = #01024e

// Resolution
cut = 37.5rem

// Margins
rowMargin  = 10px
itemMargin = 15px

// Sizes
itemMinWidth = 300px

// Settings
maxItemsPerRow = 6
